<a href="/top/applicant" class="app-nav-link{% if active_menu == 'applicant_dashboard' %} is-active{% endif %}">ダッシュボード</a>
<a href="#" class="app-nav-link{% if active_menu == 'applicant_new' %} is-active{% endif %}">新規申請</a>
<a href="#" class="app-nav-link{% if active_menu == 'applicant_confirm' %} is-active{% endif %}">申請内容確認</a>
<a href="#" class="app-nav-link{% if active_menu == 'applicant_resubmit' %} is-active{% endif %}">修正して再申請</a>
<a href="#" class="app-nav-link{% if active_menu == 'applicant_approved' %} is-active{% endif %}">承認済み案件管理</a>
