<a href="/top/applicant" class="app-nav-link{% if active_menu == 'applicant_dashboard' %} is-active{% endif %}">ダッシュボード</a>
<a href="/applicant/projects/new" class="app-nav-link{% if active_menu == 'applicant_new' %} is-active{% endif %}">新規案件の申請</a>
<a href="#" class="app-nav-link{% if active_menu == 'applicant_status' %} is-active{% endif %}">申請状況の確認・管理</a>
<a href="#" class="app-nav-link{% if active_menu == 'applicant_resubmit' %} is-active{% endif %}">修正して再申請</a>
<a href="#" class="app-nav-link{% if active_menu == 'applicant_progress' %} is-active{% endif %}">案件の進捗管理</a>
